#stockList {
    display: flex;
    justify-content: space-around;
    background: darkgrey;
    /* padding: 5px; */
}

.stockItem {
    border: 2px solid white;
    border-radius: 5px;
}

.stockItem h3 {
    font-size: 1.2em;
}

.stockItem p, .stockItem h3 {
    margin: 0;
}

.stockItem .sizePrice {
    display: flex;
    justify-content: space-between;
}

.sizePrice > p {
    width: 50%;
}

.sizePrice > p:nth-child(even) {
    text-align: right;
}

.stockItem .itemOptions {
    display: flex;
    justify-content: space-between;
}

.itemOptions > button {
    box-sizing: content-box;
    font-size: 15px;
}
